/*--------Couleur de l'association----------
#33ccff (for the blue)
#ff9900 (for the orange)
------------------------------------------*/

@font-face {
    font-family: BAUHS93;
    src: url(/font/BAUHS93.ttf) format("truetype");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ------------HEADER/NAV---------*/
.navLinkMenu {
    text-align: center;
    text-decoration: none;
    color: rgb(170, 170, 170);
    transition: all ease-out 0.5s;
}

.navLinkMenu:hover {
    color: #33ccff;
    transition: all 0.5s;
    border: 1px dashed #ff9900;
    padding: 3px;
    border-radius: 3px;
}

.active-menu {
    color: #33ccff;
    transition: all 0.5s;
    padding: 3px;
    border-radius: 3px;
}


.header {
    position: fixed;
}

.banner-area {
    background-image: url(../images/chiendort.jpg);
    background-size: cover;
    background-position: 15%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
}

.banner-area::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.content-area {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: aliceblue;
    top: 500px;
    overflow: hidden;
}

.banner-area p {
    position: absolute;
    top: 25%;
    padding-left: 5%;
    color: aliceblue;
}

@media screen and (min-width: 900px) {
    .banner-area p {
        top: 15%;
        margin-left: 20%;
    }
}
/*-

@media screen and (max-width: 400px) {
    .banner-area {
        top: -100px;
    }
    .content-area{
        top: 400px;
    }
}
@media screen and (max-width: 300px) {
    .content-area {
        top: 350px;
    }
    .banner-area p {
        top: -40%;
    }

}
@media screen and (max-width: 599px) {
    .banner-area {
        background-size: 1200px;
        background-repeat: no-repeat;
        object-fit: cover;
        background-position: 15%;
        bottom: 47px;
    }
    .banner-area p {
        text-align: center;
        top: 15%;
    }
}

@media screen and (min-width: 600px) {
    .content-area {
        height: 100%;
    }
    .banner-area p {
        text-align: start;
        top: 20%;        
        margin-left: 30%;
    }
    .banner-area {
        top: -300px;
    }

}*/

/*----------- ALL PAGES----------- */
h1,
h2,
h3 {
    color: #ff9900;
    font-family: BAUHS93;
    position: relative;
    z-index: 3;
}

h1::before {
    content: url(/images/logo.png);
    width: 50px;
    height: 50px;
    display: inline-flex;
    top: 0;
    left: 0;
}


/* -----------page event-----------------*/

.blue-item {
    color: #33ccff;
}


/*------------Image page INDEX-ACCUEIL / text over image----------*/


/*------------- Logo Facebook ---------*/
.bulle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #f1f1f1;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    background: #f1f1f1;
    cursor: pointer;
    position: relative;
}
